<!--Setup the `main.handlebars` file so it's able to be used by Handlebars.-->

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
  <title>Burger App</title>

</head>

<body>

  {{{ body }}}



  <!-- Javascript -->
  <script src="/assets/js/app.js"></script>
</body>


</html>