{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="text-center">
  <div class="container">
    <div class="jumbotron">
    <img src="assets/image/burger.png" class="img-fluid rounded burger-img mt-1">
    <h1 class="display-5 title">Eat-Da-Burger!</h1>

    </div>
    <div class="row">

      {{!-- Left Side for to-be-devoured burgers --}}
      <div class="col" id="left-col">
        <div class="text-right ml-auto mr-5">
          {{#each burgers}}
            {{#unless devoured}}
              <div class="mb-1">
                {{burger_name}}
                <button class="btn btn-sm btn-outline-danger devour" burgerId="{{id}}">
                  Devour It!
                </button>
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>

      {{!-- Right Side for not yet devoured ones --}}
      <div class="col" id="right-col">
        <div class="text-left mr-auto ml-5">
          {{#each burgers}}
            {{#if devoured}}
              <div class="mb-1">
                {{burger_name}}
                <button class="btn btn-sm btn-outline-dark remove" burgerId="{{id}}">
                  Remove
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

    </div>

    {{!-- Add a burger --}}
    <p class="lead">Enter a burger name you want to eat</p>
    <form id="add-burger">
      <div class="form-group mx-auto" style="width: 35%">
        <textarea type="text" class="form-control form-control-md" name="bname" id="burger"></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Add Your Burger</button>
    </form>
  </div>
</div>